body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.background {
    float: right;
    width: 73%;
    height: 100vh;
}
.background img {
   width: 80%;
   height: 80vh;
   margin-top: 10vh;
   margin-left: 10%;
   margin-right: 10%;
}
.mainPageForm{
    background-color: #171717;
    width: 27%;
    height:100vh;
}
.loginForm {
    position: fixed;
    top: 25%;
    width: inherit;
}
.loginForm input {
    box-sizing: border-box;
    border-radius: 5px;
    width:80%;
    padding: 3% 5%;
    margin: 2% 10%;
}
.loginForm button {
    box-sizing: border-box;
    width: 40%;
    border: none;
    padding: 10px;
    background-color: #2fa3dc;
    cursor: pointer;
}

.logo {
    box-sizing: border-box;
    position: absolute;
    bottom: 2%;
    right: 2%;
    color: #0c1f39;
    font-size: 2vw;
    background-color: #f2f2f2;
}
.title{
    font-family: SheridanBruinsOfficialTitle;
    color: white;
    font-size:3.5em;
}
@font-face{
    font-family: SheridanBruinsOfficialTitle;
    src: url(Evogria_1.ttf);
}
@font-face{
    font-family: SheridanBruinsOfficial;
    src: url(big_noodle_titling.ttf);
}
