/*CSS sheet for the main page*/
/*General styles*/
body{
    background-color: #22CBFF;
}

img{
	position: relative; 
}
img.logo{
	height: 30%;
	width: 30%;
	top: 300px; 
	left: 650px;
}

img.cmsn{
	height: 10%;
	width: 10%;
	top: 340px;
	left: 280px;
}

img.twitter{
	height:1.5%;
	width:1.5%;
	top: 425px;
	left: 130px;
	
}


img.instagram{
	height:1.5%;
	width:1.5%;
	top: 428px;
	left: 140px;
}

img.discord{
	height:1.5%;
	width:1.5%;	
	top: 430px;
	left: 150px;
}

img:hover{
	filter: grayscale(100%); 
}



/*Styling the countdown*/
h2{
	position: relative;
	text-align: center; 
}

h2.countdown{
	color:white;
	top: 320px;	
	font-size: 2em;	
	font-family: 'Teko', sans-serif;
}

