/*CSS sheet for the main page*/
/*General styles*/
body{
    background-image: linear-gradient(to right, #001122, #001d3b);
    margin:0px;
    padding:0px;
    height: 100vh;
    color: white;
}
a{
  color: inherit;
  font-family: "Arial";
  font-weight: bold;
  font-size: 1vw;
  text-transform: uppercase;
  text-decoration: none;
}

/*Styling the header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header>img{
    height: 18vh;
    width: 20vw;
}
header>a{
    margin-right:3.5%;
}
/*Styling the countdown*/
header h2 {
  font-size: 3em;
}
/*Styling video*/
iframe{
  display: block;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}
/*Styling the side menu*/
aside{
  height: 80vh;
  width: 10vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
aside>nav{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
a>img{
  height: 1.75vh;
  width: 1vw;
}
